body {
  background-color: black;
  margin-left: 200;
  margin-right: 200;
  margin-top: 50;
  display: grid;
  color: white;
}

p {
	text-align: center;
}

button {
  background-color: black;
  border-block-color: white;
  border-block-end-width: thin;
  margin-left: 400;
  margin-right: 400;
<<<<<<< HEAD
  color: white;
}
=======
}
>>>>>>> origin/main
